/* Styles généraux */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #ecf0f1;
    margin: 0;
    padding: 0;
}

/* Header */
header {
    background-color: #1abc9c;
    color: white;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
    font-size: 2rem;
    font-weight: 600;
}

 /* Styles pour la page de notifications */
#notifications-container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}